
@using System.IdentityModel.Tokens.Jwt
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using System.Security.Authentication;
@using Microsoft.AspNetCore.Authentication.JwtBearer
@using Microsoft.AspNetCore.Http
@using SessionExtensions = Microsoft.AspNetCore.Http.SessionExtensions
@model DesafioQSTI.Models.ClienteViewModel

@{

}

<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Authentication" asp-action="Index">Home</a>
        </li>
        <li class="active">
            Login
        </li>
    </ol>
    <div class="row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Login</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Login to your account</h3>
                        <p class="text-center text-muted">If you still don't have an account, <a asp-controller="Authentication" asp-action="Register"><span class="badge badge-info"> Register </span></a> to get your right now. </p>
                        <hr>



                        <form asp-action="Login" asp-controller="Authentication" method="post">
                            <div class="top-margin">
                                <label><i class="fas fa-user"></i> Nome de Usuario <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nome" name="nome">
                            </div>
                            <div class="top-margin">
                                <label><i class="fas fa-key"></i> Senha <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="senha" name="senha">
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Sign in</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>

        </article>


    </div>
</div>	<!-- /container -->
<!-- Validation scripts -->
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


